{% load static %}
{% load sneakers_tags %}
{% load carts_tags %}
{% load mptt_tags %}

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container px-2 px-lg-2">
        <a class="pt-0 h-0" href="{% url 'goods:home' %}"><img
                src="{% static 'images/logo.png' %}"/></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        ><i class="fa-solid fa-bars fa-beat-fade"></i></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    {% recursetree menu_items %}
                        <li class="nav-item rounded dropdown">
                            <a href="{{ node.get_absolute_url }}" class="nav-link a-dark">{{node.title }}</a>
                            <div class="dropdown-menu dropdown-menu-navbar" aria-labelledby="navbarDropdown">
                                {% for child in node.get_children %}
                                    <ul>
                                        <li><a class="dropdown-item dropdown-item-navbar"
                                               href="{{ child.get_absolute_url }}">{{ child.title }}</a>
                                        </li>
                                        {% for child2 in child.get_children %}
                                            <li><a class="dropdown-item dropdown-item-navbar"
                                                   href="{{ child2.get_absolute_url }}">{{ child2.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        </li>
                    {% endrecursetree %}




{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link a-dark" href=" {{ d_m.get_absolute_url }} ">#}
{#                        {{d_m.title}}#}
{#                    </a>#}
{#                    <div class="dropdown-menu dropdown-menu-navbar" aria-labelledby="navbarDropdown">#}
{#                        <ul>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Action</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                        </ul>#}
{#                        <ul>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Another action</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                        </ul>#}
{#                        <ul>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Something else here</a>#}
{#                            </li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="#">Mega Menu Link</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </li>#}










                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle a-dark" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Інформація
                    </a>
                    <div class="dropdown-menu dropdown-menu-navbar" aria-labelledby="navbarDropdown">
                        <ul>
                            {% get_menu as menu %}
                            {% for m in menu %}
                            <li><a class="a-dark dropdown-item dropdown-item-navbar" href="{% url m.url_name %}">{{m.title}}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </li>


            </ul>
            <div class="d-none d-lg-block d-xl-block d-xxl-block ">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ms-lg-4">

                    <li class="nav-item ">
                        <form method="get" class="offcanvas-body h-75 mt-1" action="{% url 'goods:search' %}">
                            <input type="text" name="{{ filter.form.title_search.name }}"
                                   placeholder="Пошук товарів" class="form-control"
                                   value="{{request.GET.title_search}}">
                            <button type="submit" class="custom-btn btn-1 a-light ">
                                Пошук
                            </button>

                        </form>
                    </li>


                    {% user_carts request as carts %}
                    <li class="nav-item">

                        <a type="button" class="a-dark nav-link btn-outline " data-bs-toggle="modal"
                           data-bs-target="#cart-modal">
                           <i class="fa-solid fa-cart-shopping"></i>
                            <span class="badge bg-secondary text-white ms-1 rounded-pill goods-in-cart-count" >{{ carts.total_quantity }}</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a type="button" class="a-dark nav-link btn-outline" data-bs-toggle="modal"
                           data-bs-target="#reg-modal">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="d-block d-lg-none">
                <!--начиная с самого маленького до среднего не включая большой и тд (адаптивность настроить) -->

               <a type="button" class="a-dark nav-link btn-outline " data-bs-toggle="modal"
                           data-bs-target="#cart-modal">
                           <i class="fa-solid fa-cart-shopping"></i>
                            <span class="badge bg-secondary text-white ms-1 rounded-pill goods-in-cart-count" >{{ carts.total_quantity }}</span>
                        </a>


                <form method="get" class="offcanvas-body h-75" action="{% url 'goods:search' %}">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" name="{{ filter.form.title_search.name }}"
                                   placeholder="Пошук товарів" class="form-control"
                                   value="{{ request.GET.title_search }}">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="custom-btn btn-1 a-light mb-3">
                                Пошук
                            </button>
                        </div>
                    </div>
                </form>


                <div class="container">
                    <div class="row ">

                        {% if request.user.is_authenticated %}
                            <div class="col  d-flex justify-content-center">
                                <a class="custom-btn btn-1 a-light" href="{% url 'user:profile' %}"
                                   role="button">Кабінет</a>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <a class="custom-btn btn-2 a-light" href="{% url 'user:logout' %}"
                                   role="button">Вийти</a>
                            </div>
                        {% else %}
                            <div class="col pt-2 d-flex justify-content-center">
                                <a class="custom-btn btn-1 a-light" href="{% url 'user:login' %}" role="button">Вхід</a>
                            </div>
                            <div class="row pt-2">
                                <div class="col text-center" style="color: white">
                                    Нема аккаунта? <a class="a-dark bg-light rounded-1 "
                                                      href="{% url 'user:register' %}">Регістрація</a>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>
<!-- Модальное окно -->
<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Швидкі посилання</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Строки с ссылками -->
                <div class="row mb-2">
                    <div class="col">
                        <a class="a-dark" href="#">Ссылка 1</a>
                    </div>
                </div>
                <hr class="my-1"> <!-- Серая полоса разделения -->
                <div class="row mb-2">
                    <div class="col">
                        <a class="a-dark" href="#">Ссылка 2</a>
                    </div>
                </div>
                <hr class="my-1">
                <div class="row mb-2">
                    <div class="col">
                        <a class="a-dark" href="#">Ссылка 3</a>
                    </div>
                </div>
                <hr class="my-1">
                <div class="row mb-2">
                    <div class="col">
                        <a class="a-dark" href="#">Ссылка 4</a>
                    </div>
                </div>

                <hr class="my-1">
                <div class="container">
                    <div class="row ">

                        {% if request.user.is_authenticated %}
                        <div class="col  d-flex justify-content-center">
                            <a class="custom-btn btn-1 a-light" href="{% url 'user:profile' %}"
                               role="button">Кабінет</a>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <a class="custom-btn btn-2 a-light" href="{% url 'user:logout' %}" role="button">Вийти</a>
                        </div>
                        {% else %}
                        <div class="col pt-2 d-flex justify-content-center">
                            <a class="custom-btn btn-1 a-light" href="{% url 'user:login' %}" role="button">Вхід</a>
                        </div>
                        <div class="row pt-2">
                            <div class="col text-center">
                                Нема аккаунта? <a class="a-dark text-decoration-underline" href="{% url 'user:register' %}">Регістрація</a>
                            </div>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title " id="exampleModalLabel2">Кошик</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container cart-items-container">
                    {% include 'carts/includes/included_cart.html' %}
                </div>

            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>

