{% load sneakers_tags %}
{% load static %}

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">

<div class="col-lg-6 col-md-6">
    <!-- Основная карусель 1-->
    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div id="my-gallery" class="vanilla-zoom">
            <!-- Основное изображение -->
            <div class="carousel-inner">
                {% if post.images %}
                    {% get_photos post as query %}

                    <div class="carousel-item active">
                        {% with first_photo=query|first %}
                            {% if first_photo %}
                                <a class="image-popup-vertical-fit" href="{{ first_photo.image.url }}">
                                    <img src="{{ first_photo.image.url }}" class="mx-auto d-block img-fluid my_image"
                                         alt="Изображение товара">
                                </a>
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endif %}
                <!-- Дополнительные изображения (перебор) -->
                {% for image in query %}
                    <div class="carousel-item">
                        <a class="image-popup-vertical-fit" href="{{ image.image.url }}">
                            <img src="{{ image.image.url }}" class="mx-auto d-block img-fluid" alt="Изображение товара">
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- Стрелочки для листания -->
            <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                <a class="a-dark"><i class="fa-solid fa-arrow-left"></i></a>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                <a class="a-dark"><i class="fa-solid fa-arrow-right"></i></a>
            </button>
        </div>
    </div>

    <!--     Миниатюры под главным фото-->

    <div class="d-none d-lg-flex mt-3">

        <!-- Дополнительные изображения в навигации (перебор) -->
        {% for image in query %}
            <div class="img-carousel" data-bs-target="#mainCarousel" data-bs-slide-to="{{ forloop.counter }}">
                <img src="{{ image.image.url }}" class="" alt="Изображение товара">
            </div>
        {% endfor %}
    </div>
</div>


