{% load static %}


<div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 g-1 mx-0 mt-4 gap-2 justify-content-center">
    {% for product in wishes %}
        {% if product.is_published %}

            <div class="col mb-5">
                <div class="card h-100 my-card {% if product.total_quantity <= 0 %}out-of-stock{% endif %}">
                    {% if product.discount %}
                        <span class="goods-tile_label promo-label promo-label_type_action"> -{{ product.discount_info }}% </span>
                    {% endif %}
                    <!-- Product image-->
                    {% if product.images %}

                        <a class="a-dark " href="{{ product.get_absolute_url }}">
                            <img class="card-img-top image-container-img image-s"
                                 src="{% get_media_prefix %}{{ product.sneakers_first_image }}"
                                 alt="{{ product.title|truncatechars:24 }}"/>
                        </a>
                    {% else %}
                        <a class="a-dark " href="{{ product.get_absolute_url }}">
                            <img class="card-img-top"
                                 src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                 alt="{{ product.title }}"/>
                        </a>
                    {% endif %}

                    <!-- Product details-->
                    <span class="card-body">
                        <div class="text-center">
                            <!-- Product name-->
                            <h3><a class="a-dark "
                                   href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
                            <!-- Product price-->

                        </div>
                        <div class="me-auto d-flex justify-content-between">
                            <div>
                                {% if product.discount %}
                                    <p class="old-price">{{ product.price }} $</p>
                                    <p class="discount-price">{{ product.discount }} $</p>
                                {% else %}
                                    <p class="usual-price">{{ product.price }} $</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex align-items-baselline justify-content-between">
                            {% if product.total_quantity <= 0 %}
                                <p class="text-secondary">Немає на складі </p>
                            {% elif product.total_quantity < 3 %}
                                <p class="text-danger">Закінчується </p>
                            {% else %}
                                <p class="text-success">Є в наявності</p>
                            {% endif %}
                               <a href="{% url 'goods:add_to_wish_list' %}" class="add-to-wish-list px-1 text-dark"
                                  data-product-id="{{ product.id }}">
                                   <i class="fa-solid fa-heart wish-icon"></i>
                                </a>
                        </div>
                    </span>
                    <!-- Product actions-->
                    <div class="d-flex card-footer border-top-0 bg-transparent justify-content-end">
                        <p class="ventor-code">Артикул: {{ product.display_id }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>
