body{
    min-width: 320px;
    height: 100%;
    font-family: Bahnschrift, serif !important;
}
img{
    max-width: 100% ;
    height: auto;
}
footer {

    position: relative;
}
.custom-header {
  background-color: #FFDAB9;
  background-image: url("../images/bg.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
.category-3 {
    border:solid 2px #228B22;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}
.category-1 {
    border:solid 2px #228B22;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}
.category-2 {
    border:solid 2px #0000FF;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}
.category-4 {
    border:solid 2px #FFA500;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}

.category-label-color-4 {
    color: #FF8C00;
}

.category-label-color-1 {
    color: red;
}

.category-label-color-2 {
    color: blue;
}

.category-label-color-3 {
    color: green;
}

.image-container {
  width: 450px;
  height: 300px;
  background-size: cover; /* изменяет размер фонового изображения, чтобы оно полностью покрывало элемент */
  background-position: center; /* центрирует фоновое изображение внутри элемента */
  margin-bottom: 10px; /* добавляет отступы между изображениями */
}
.form-error-1 ul{
    list-style: none;
    padding: 0;
    color: #CC0000;
    list-style-type: none;
}
 /* Стили для увеличения изображения при наведении */
    #mainCarousel .carousel-inner img {
        position: relative;
        transition: transform 0.5s ease;
    }

    #mainCarousel .carousel-inner img:hover {
        z-index: 1;
        transform: scale(1.2);
    }

    /* Убираем синее выделение при клике */
    .pointer {
        cursor: pointer;
        user-select: none;
    }

    /* Стили для выбранной миниатюры */
    #carousel-thumbs .thumbnail.active {
        border: 2px solid #007bff;
        border-radius: 5px;
    }

.custom-border{
    border: 5px solid;
}

.larger-image img {
    width: 100%; /* Установите желаемую ширину, например, 100% */
    height: auto; /* Автоматическая высота, чтобы соответствовать пропорциям */
}
.price {
    font-size: 3rem; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
    color: #333; /* Цвет текста */
    text-decoration: none; /* Убрать подчеркивание, если это гиперссылка */
    margin-right: 10px; /* Внешний отступ справа */
}

/* Пример стиля для скидки */
.discount {
    font-size: 3.5rem; /* Размер шрифта скидки */
    color: #d9534f; /* Цвет текста скидки (например, красный) */
    text-decoration: line-through; /* Зачеркнутый текст для исходной цены */
    margin-left: 5px; /* Внешний отступ слева */
}

.navbar-dark .navbar-nav a.nav-link {
  color: #dcdcdc;
  font-size: 1.1em;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    padding-left: 1em !important;
    padding-right: 1em !important;
    color: #dcdcdc !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.dropdown-menu-navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
}
@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu-navbar {
    display: flex;
  }
  .dropdown-menu-navbar.show {
    display: flex;
  }
}
.dropdown-menu-navbar ul {
  list-style: none;
  padding: 0;
}
.dropdown-menu-navbar li .dropdown-item-navbar {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}
.dropdown-menu-navbar li .dropdown-item-navbar:hover {
  background-color: #f1f1f1;
}
.dropdown-menu-navbar li:first-child a {
  font-weight: bold;
  font-size: 1.2em;
}
.dropdown-menu-navbar li:first-child a:hover {
  background-color: #f1f1f1;
}
@media only screen and (max-width: 992px) {
  .dropdown-menu-navbar.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu-navbar {
    width: 40vw;
    flex-wrap: wrap;
  }
}

.navbar-nav .nav-link {
    transition: all 0.3s;
}


.custom-btn {
  width: 40%;
  height: auto;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  align-items: center;
  justify-content: center;
}
.btn-1 {
  background: rgb(255, 0, 0);
  background: linear-gradient(0deg, rgb(210, 29, 29) 0%, rgb(203, 0, 0) 100%);
  border: none;
}
.btn-1:hover {
   background: rgb(234, 0, 0);
background: linear-gradient(0deg, rgb(175, 22, 22) 0%, rgb(175, 22, 22) 100%);
}

.btn-2 {
  background: rgb(107, 104, 104);
  background: linear-gradient(0deg, rgb(75, 75, 75) 0%, rgb(79, 79, 79) 100%);
  border: none;
}
.btn-2:hover {
   background: rgb(91, 91, 91);
    background: linear-gradient(0deg, rgb(84, 84, 84) 0%, rgb(77, 77, 77) 100%);
}
.a-dark {
  text-decoration: none;
  color: black;
}
.a-light {
  text-decoration: none !important;
  color: #ffffff !important;
}

.a-light:hover {
    text-decoration: none;
    color: #d9d9d9 !important;
}

.a-dark:hover {
    text-decoration: underline !important;
    text-decoration-color: #CC0000;
    text-underline-offset: 10px;
    color: #882323 !important;
}

.navbar {
    background-color: #282829;
    font-size: 18px;
}

.modal-body img{
    max-width: 100px;
}
.my-card{
    transition: all .3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.my-card:hover{
    box-shadow: 0 14px 30px rgba(0,0,0,0.75);
}

.my-card img{
    max-width: 100%;
    max-height: 100%;
}
.card-body a{
    padding-bottom: 10px;
    font-weight: 500;
    display: block;
    height: 30px;
    overflow: hidden;
}
.card-body p{
    margin: 0;
}
.card-body .discount-price{
    font-weight: bold;
    color: #ff0000;
    font-size: 24px;
}
.card-body .old-price{
    text-decoration: line-through;
    color: #565454;
    font-size: 16px;
}

.card-body .usual-price{
    color: #000000;
    font-size: 24px;
}

