.custom-header {
  background-color: #FFDAB9;
  background-image: url("../images/bg.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
.category-3 {
    border:solid 2px #228B22;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}
.category-1 {
    border:solid 2px #228B22;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}
.category-2 {
    border:solid 2px #0000FF;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}
.category-4 {
    border:solid 2px #FFA500;
    border-radius:8px;
    padding:2px;
    font-size: 10px;
}

.category-label-color-4 {
    color: #FF8C00;
}

.category-label-color-1 {
    color: red;
}

.category-label-color-2 {
    color: blue;
}

.category-label-color-3 {
    color: green;
}

.image-container {
  width: 450px;
  height: 300px;
  background-size: cover; /* изменяет размер фонового изображения, чтобы оно полностью покрывало элемент */
  background-position: center; /* центрирует фоновое изображение внутри элемента */
  margin-bottom: 10px; /* добавляет отступы между изображениями */
}
.form-error-1 ul{
    list-style: none;
    padding: 0;
    color: #CC0000;
    list-style-type: none;
}
.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
.custom-border{
    border: 5px solid;
}

.larger-image img {
    width: 500px; /* Установите желаемую ширину, например, 100% */
    height: auto; /* Автоматическая высота, чтобы соответствовать пропорциям */
}
.price {
    font-size: 3rem; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
    color: #333; /* Цвет текста */
    text-decoration: none; /* Убрать подчеркивание, если это гиперссылка */
    margin-right: 10px; /* Внешний отступ справа */
}

/* Пример стиля для скидки */
.discount {
    font-size: 3.5rem; /* Размер шрифта скидки */
    color: #d9534f; /* Цвет текста скидки (например, красный) */
    text-decoration: line-through; /* Зачеркнутый текст для исходной цены */
    margin-left: 5px; /* Внешний отступ слева */
}

/*.navbar-dark .navbar-nav a.nav-link {*/
/*  color: #ffffff;*/
/*  font-size: 1.1em;*/
/*}*/
.dropdown-menu-navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
}
@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu-navbar {
    display: flex;
  }
  .dropdown-menu-navbar.show {
    display: flex;
  }
}
.dropdown-menu-navbar ul {
  list-style: none;
  padding: 0;
}
.dropdown-menu-navbar li .dropdown-item-navbar {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}
.dropdown-menu-navbar li .dropdown-item-navbar:hover {
  background-color: #f1f1f1;
}
.dropdown-menu-navbar li:first-child a {
  font-weight: bold;
  font-size: 1.2em;
}
.dropdown-menu-navbar li:first-child a:hover {
  background-color: #f1f1f1;
}
@media only screen and (max-width: 992px) {
  .dropdown-menu-navbar.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu-navbar {
    width: 40vw;
    flex-wrap: wrap;
  }
}
