

/* 6.Single Post Page
--------------------------------------------------------------*/
#post-comment input {
  height: 50px;
}

/* section-title */
.section-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.33rem;
  text-transform: uppercase;
}

/* product-qty */
.product-qty {
  max-width: 130px;
}


/* single product */
/* product-thumbnail-slider */
.product-thumbnail-slider {
  height: 590px;
}
@media screen and (max-width:992px) {
  .product-thumbnail-slider {
    margin-top: 20px;
    height: auto;
  }
}
@media screen and (min-width:992px) {
  .product-thumbnail-slider {
    height: 490px;
  }
}
@media screen and (min-width:1200px) {
  .product-thumbnail-slider {
    height: 590px;
  }
}
@media screen and (min-width:1400px) {
  .product-thumbnail-slider {
    height: 690px;
  }
}

/* preloader */
.preloader svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}


/* Text Effects */
.txt-fx {
  overflow: hidden;
  line-height: 1;
}
.txt-fx.zoom {
  overflow: visible;
}

.txt-fx .word {
  overflow: hidden;
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}
.txt-fx .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.txt-fx {
  --delay: 50ms;
  --easing: cubic-bezier(.5, 0, .53, 1);
}

/* fade right */
.txt-fx.fade-right .letter {
  transform: translate3d(-50px, 0, 0);
  opacity: 0;
  transition: transform 0.6s var(--easing), opacity 0.6s var(--easing);
}

.aos-animate .txt-fx.fade-right .letter {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* slide up */
.txt-fx.slide-up .letter {
  transform: translate3d(0, 1.2em, 0);
  transition: transform 0.9s var(--easing);
}

.swiper-slide-active .txt-fx.slide-up .letter,
.aos-animate .txt-fx.slide-up .letter {
  transform: translate3d(0, 0, 0);
}

/* domino */
.txt-fx.domino .letter {
  transform-origin: 50% 0;
  transform: rotateY(90deg);
  transition: transform 0.9s var(--easing);
}

.swiper-slide-active .txt-fx.domino .letter,
.aos-animate .txt-fx.domino .letter {
  transform: rotateY(0);
}

/* zoom */
.txt-fx.zoom .letter {
  transform-origin: 50% 0;
  transform: scale(3);
  transition: transform 0.9s var(--easing);
}

.swiper-slide-active .txt-fx.zoom .letter,
.aos-animate .txt-fx.zoom .letter {
  transform: scale(1);
}

@media screen and (max-width:991px) {
  .txt-fx .letter {
    transform: translate3d(0, 0, 0) !important;
    opacity: 1 !important;
  }  
}

