{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block header %}
{% endblock header %}


{% block content %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form action="{% url 'user:login' %}" method="post">

                    <h2 class="text-center">{{ title }}</h2>
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}

                    <div class="mb-3">
                        <label for="id_username" class="form-label">Нікнейм або Email</label>
                        <div class="form-error-1 text-center">{{ form.username.errors }}</div>
                        <input type="text" class="form-control" name="username" id="id_username"
                               placeholder="Введіть ваш нік або пошту" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_password" class="form-label">Пароль</label>
                        <div class="form-error-1 text-center">{{ form.password.errors }}</div>
                        <input type="password" class="form-control" name="password" id="id_password"
                               placeholder="Введіть ваш пароль" required>
                    </div>

                    <div class="d-flex justify-content-evenly">
                        <button type="submit" class="custom-btn btn-1 ">Вхід</button>
                        <button class="btn btn-outline-info">
{#                            ?next={{ request.get_full_path }}#}
                            <a href="{% provider_login_url 'google' %}">
                                <i class="fab fa-google"></i>
                                Login with Google
                            </a>
                        </button>
                        <a href="{% url 'users:password_reset' %}" class="a-blue">Забули пароль?</a>
                    </div>

                    <div class="d-flex justify-content-end mt-2 text-end">
                        <p>Нема акаунта? </br> <a class="a-blue" href="{% url 'users:register' %} ">Зареєструватися</a>
                        </p>


                    </div>
                </form>

            </div>
        </div>
    </div>





{% endblock content %}