{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}


{% block content %}
    <div class="container mt-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                <form action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data">
                    <h2 class="text-center">{{ title }}</h2>
                    {% csrf_token %}
                    <div class="mb-3">
                        {% if form.image.errors %}
                            <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                <span class="form-error-1 text-center">{{ form.image.errors }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        {% if user.image %}
                            <div class="text-center mb-3">
                                <img src="{{ user.image.url }}" alt="Фото користувача" class="img-fluid rounded-3"
                                     style="max-width: 150px">
                            </div>
                        {% endif %}

                        <label for="file" class="feedback__label">
                            <input type="file" id="file" class="form-control feedback__file" name="image"
                                   value="{{ form.image.value }}"
                                   accept="image/*" onchange="displayFileName()">

                        </label>
                        <p id="fileName"></p>
                    </div>
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Нік або email</label>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                <span class="form-error-1 text-center">{{ form.username.errors }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <input type="text" class="form-control" name="username" value="{{ form.username.value }}"
                               id="id_username"
                               placeholder="Введіть ваш нік">
                    </div>
                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">Ім'я</label>
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                <span class="form-error-1 text-center">{{ form.first_name.errors }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <input type="text" class="form-control" name="first_name" value="{{ form.first_name.value }}"
                               id="id_first_name"
                               placeholder="Введіть ваше ім'я">
                    </div>


                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Прізвище</label>
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                <span class="form-error-1 text-center">{{ form.last_name.errors }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <input type="text" class="form-control" name="last_name" value="{{ form.last_name.value }}"
                               id="id_last_name"
                               placeholder="Введіть ваше прізвище">
                    </div>


                    <div class="mb-3">
                        <label for="id_email" class="form-label">Пошта</label>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                <div class="form-error-1 text-center">{{ form.email.errors }}</div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <input type="email" class="form-control" name="email" value="{{ form.email.value }}"
                               id="id_email"
                               placeholder="Введіть вашу пошту">
                    </div>

                    <div class="mb-3">
                        <label for="id_phone_number" class="form-label">Номер телефону</label>
                        {% if form.phone_number.errors %}
                            <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                <span class="form-error-1 text-center">{{ form.phone_number.errors }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <input type="text" class="form-control" name="phone_number"
                               value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                               id="id_phone_number"
                               placeholder="Введіть ваш номер телефону">
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'users:password_change' %}" class="a-blue">Змінити пароль</a>
                    </div>


                    <div class="d-flex justify-content-center">
                        <button type="submit" class="custom-btn btn-1 ">Зберегти</button>

                    </div>


                </form>
            </div>
            <div class="col-md-6">
                <div class="container cart-items-container">
                    {% include 'carts/includes/included_cart.html' %}
                </div>
            </div>
            {% if orders %}


                <div class="col-md-12">
                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                        <h3 class="text-center mb-4">Мої замовлення</h3>
                        <!-- Разметка заказов -->
                        <div class="container">
                            <div class="accordion" id="accordionExample">
                                {% for order in orders %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{ order.id }}">
                                            <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ order.id }}" aria-expanded="false"
                                                    aria-controls="collapse{{ order.id }}">
                                                Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong
                                                    class="mx-2">{{ order.status }}</strong>
                                            </button>
                                        </h2>
                                        <div id="collapse{{ order.id }}"
                                             class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}"
                                             aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <table class="table table-dark table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Товар</th>
                                                        <th>Кількість</th>
                                                        <th>Ціна</th>
                                                        <th>Загальна вартість</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for item in order.orderitem_set.all %}
                                                        <tr>
                                                            <td><a class="text-white"
                                                                   href="{% url 'goods:product' item.product.sneakers.slug %}">{{ item.product.sneakers.title }}</a>
                                                            </td>
                                                            <td>{{ item.quantity }}</td>
                                                            <td>{{ item.price }}</td>
                                                            <td>{{ item.products_price }}</td>

                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
<script>

</script>

{% endblock content %}