{% extends 'sneakers_shop/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                {% if post.photo %}
                    <img class="img-fluid" src="{{ post.photo.url }}" alt="Изображение товара">
                {% else %}
                    <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Изображение товара">
                {% endif %}
            </div>
            <div class="col-md-6">
                <p class="lead">{{ post.content }}</p>
                {% for image in post.images.all %}
                 <img class="img-fluid" src="{{ image.image.url }}" alt="Изображение товара">
                {% endfor %}
                <p class="display-4">$199.99</p>
                <a href="#" class="btn btn-primary btn-lg">Купить сейчас</a>
            </div>
        </div>
    </div>

{% endblock %}