{% extends 'sneakers_shop/base.html' %}
{% load sneakers_tags %}

{% block header %}

{% endblock %}

{% block content %}

<section id="selling-product" class="single-product">

        <div class="test" style="display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;">
            {% show_slider post %}



            <div class="col-lg-4 col-md-6 ml-4 mr-1 pt-2 border border-2 rounded-3 border-end-0" id = "content-color">

            <div class="product-info">
              <div class="element-header">
                <h3 itemprop="name" class="display-6 fst-italic mb-0">{{post.title}}</h3></div>

                <div class="product-price pt-3 pb-3"><span class="price">{{post.price}}</span><span class="discount">{{post.discount}}</span></div>

              <p>{{post.content}}</p>
              <div class="product-action">
                <div class="product-quantity">

                  <button type="submit" name="add" id="add-to-cart" class="btn btn-lg btn-dark mb-3">
                    <span>Add to cart</span>
                  </button>
                </div>
              </div>

              <div class="meta-product py-2">
                <div class="meta-item d-flex align-items-baseline">
                  <h4 class="item-title fs-5 pe-2">SKU:</h4>

                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item">0012</li>
                  </ul>
                </div>
                <div class="meta-item d-flex align-items-baseline">
                  <h4 class="item-title fs-5 pe-2">Tags:</h4>
                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item">
                      <a href="#">Flavour</a>,
                    </li>
                    <li data-value="S" class="select-item">
                      <a href="#">Healthy</a>,
                    </li>
                    <li data-value="S" class="select-item">
                      <a href="#">Organic</a>,
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
{% endblock %}
