{% extends 'base.html' %}
{% load static %}
{% load sneakers_tags %}
{% load crispy_forms_tags %}
{% load spurl %}


{% block content %}
    <!-- Section-->

    <section class="py-0">
        <div class="layout layout_with_sidebar">
            <section class="content_type_catalog">
                {# Start banner #}
                <div id="carouselExampleControls" class="carousel slide d-none d-md-block " data-bs-ride="carousel">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active slide-item ">
                                <img src="{% static 'images/slide1.jpg' %}" class="d-block w-100 rounded" alt="...">
                            </div>
                            <div class="carousel-item slide-item ">
                                <img src="{% static 'images/slide2.jpg' %}" class="d-block w-100 rounded" alt="...">
                            </div>
                            <div class="carousel-item slide-item ">
                                <img src="{% static 'images/slide3.jpg' %}" class="d-block w-100 rounded" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-secondary rounded-circle"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-secondary rounded-circle"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {# End banner #}

            </section>
            <aside class="d-none d-lg-flex d-xl-flex d-xxl-flex">
                <div class="sidebar me-3">

                    <div class="d-flex flex-column">
                        <h3 class="p-0 mb-2">Популярні категорії</h3>
                        <a href="{% url 'goods:show_cat' cat_slug='ch-povsyakdenne' %}" class="catalog-white-btn w-100 mb-3">
                           Повсякденне для чоловіків
                        </a>
                        <a href="{% url 'goods:show_cat' cat_slug='zh-povsyakdenne' %}" class="catalog-white-btn w-100 mb-3">
                           Повсякденне для жінок
                        </a>
                        <a href="{% url 'goods:show_cat' cat_slug='dlya-pidlitkiv' %}" class="catalog-white-btn w-100 mb-3">
                           Взуття для підлітків
                        </a>
                        <a href="{% url 'goods:show_cat' cat_slug='ch-dlya-bigu' %}" class="catalog-white-btn w-100 mb-3">
                           Чоловічі кросівки для бігу
                        </a>
                        <a href="{% url 'goods:show_cat' cat_slug='zh-dlya-trenuvann' %}" class="catalog-white-btn w-100 mb-3">
                           Тренувальне жіноче взуття
                        </a>
                        <a href="{% url 'goods:show_cat' cat_slug='novinki' %}" class="catalog-white-btn w-100 mb-3">
                           Нові колекції
                        </a>

                    </div>
                </div>
            </aside>
        </div>

        <section class="container-fluid mt-3 mb-2 px-2 m-0 p-0 d-flex flex-column flex-md-row justify-content-center align-items-center">
            <div class="banner-wrapper position-relative mb-3 mb-md-0 mx-md-2">
                <a href="{% url 'goods:show_cat' cat_slug='zhinki' %}">
                <img src="{% static 'images/women.jpg' %}" alt="Жінкам" class="banner-img">
                <div class="banner-caption">Жінкам</div>
                    </a>
            </div>
            <div class="banner-wrapper position-relative mb-3 mb-md-0 mx-md-2">
                <a href="{% url 'goods:show_cat' cat_slug='choloviki' %}">
                <img src="{% static 'images/man.jpg' %}" alt="Чоловікам" class="banner-img">
                <div class="banner-caption">Чоловікам</div>
                </a>
            </div>
            <div class="banner-wrapper position-relative mb-3 mb-md-0 mx-md-2">
                <a href="{% url 'goods:show_cat' cat_slug='diti' %}">
                <img src="{% static 'images/diti.jpg' %}" alt="Дітям" class="banner-img">
                <div class="banner-caption">Дітям</div>
                </a>
            </div>
        </section>


        <div class="main-product-list ">

            {# Start brand list #}
            <h2 class="text-center mt-4">Популярні бренди</h2>
            <div class="brands-list border rounded px-2 py-2">
                {% for brand in brands %}
                    <li class="brand-item ">
                        <a href="{% url 'goods:search' %}?brand={{ brand.id }} " class="brand-link">
                            <img src="{{ brand.image.url }}" alt="" class="brand-picture">
                        </a>
                    </li>
                {% endfor %}
            </div>
            {# End brand list #}

            {#  Start promo products #}
            {% get_horizontal_products_list promo_products 'Акційні товари' %}
            {# End promo products #}

            {# Start recent products #}
            {% get_horizontal_products_list recently_viewed_qs 'Останні переглянуті товари' %}
            {# End recent products #}
        </div>
    </section>

{% endblock content %}

