{% extends 'base.html' %}
{% load sneakers_tags %}
{% load static %}

{% block content %}
    <div class="d-flex flex-column container-fluid container-xxl main">
        <h2 class="block-title text-center mt-3">
            Бажані товари
        </h2>
        {% if wishes|length == 0 %}
            <div class="d-flex justify-content-center mt-3">
                <p class="fs-5">Ваш список побажань поки що пустий</p>
            </div>
        {% endif %}
        <div class="wish-list-container">
            {% include 'includes/wish_list_included.html' %}
        </div>
    </div>
{% endblock %}