{% extends 'base.html' %}
{% load static %}
{% load sneakers_tags %}
{% load crispy_forms_tags %}
{% load spurl %}


{% block content %}
    <!-- Section-->

    <section class="py-0">
        <div class="layout layout_with_sidebar">
            <section class="content_type_catalog">

                {# Start banner #}
                <div id="carouselExampleControls" class="carousel slide d-none d-md-block " data-bs-ride="carousel">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active slide-item ">
                                <img src="{% static 'images/slide1.jpg' %}" class="d-block w-100 rounded" alt="...">
                            </div>
                            <div class="carousel-item slide-item ">
                                <img src="{% static 'images/slide2.jpg' %}" class="d-block w-100 rounded" alt="...">
                            </div>
                            <div class="carousel-item slide-item ">
                                <img src="{% static 'images/slide3.jpg' %}" class="d-block w-100 rounded" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-secondary rounded-circle"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-secondary rounded-circle"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {# End banner #}

            </section>
            <aside class="d-none d-lg-flex d-xl-flex d-xxl-flex">
                <div class="sidebar me-3">

                    <div class="d-flex flex-column">
                        <div class="accordion" id="accordionPanelCategory1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-cat1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne1" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne1">
                                        Category
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne1" class="accordion-collapse collapse "
                                     aria-labelledby="panelsStayOpen-cat1">
                                    <div class="accordion-body">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion" id="accordionPanelCategory2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-cat2">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne2" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne2">
                                        Category
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne2" class="accordion-collapse collapse "
                                     aria-labelledby="panelsStayOpen-cat2">
                                    <div class="accordion-body">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion" id="accordionPanelCategory3">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-cat3">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne3" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne3">
                                        Category
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne3" class="accordion-collapse collapse "
                                     aria-labelledby="panelsStayOpen-cat3">
                                    <div class="accordion-body">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion" id="accordionPanelCategory4">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-cat4">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne4" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne4">
                                        Category
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne4" class="accordion-collapse collapse "
                                     aria-labelledby="panelsStayOpen-cat4">
                                    <div class="accordion-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </aside>
        </div>


        <section class="container-fluid mt-3 px-3 m-0 p-0">
            <ul class="d-flex flex-column flex-md-row w-100 p-0 gap-3">
                <li class="banner-item text-center rounded flex-fill">
                    <a href="#" class="text-decoration-none text-dark ">
                        <div class="img-container">
                            <img src="{% static 'images/women.jpg' %}" alt="Жінки" class="img-fluid">
                        </div>
                        <h3 class="text-overlay m-0">Жінкам</h3>
                    </a>
                </li>
                <li class="banner-item text-center rounded flex-fill">
                    <a href="#" class="text-decoration-none text-dark ">
                        <div class="img-container">
                            <img src="{% static 'images/man.webp' %}" alt="Чоловікам" class="img-fluid">
                        </div>
                        <h3 class="text-overlay m-0">Чоловікам</h3>
                    </a>
                </li>
                <li class="banner-item text-center rounded flex-fill">
                    <a href="#" class="text-decoration-none text-dark ">
                        <div class="img-container">
                            <img src="{% static 'images/diti.jpg' %}" alt="Дітям" class="img-fluid">
                        </div>
                        <h3 class="text-overlay m-0">Дітям</h3>
                    </a>
                </li>
            </ul>
        </section>


        <div class="main-product-list ">
            {# Start brand list #}
        <h2 class="text-center mt-3">Популярні бренди</h2>
            <div class="brands-list border rounded px-2 py-2">
                {% for brand in brands %}
                    <li class="brand-item ">
                        <a href="{% url 'goods:search' %}?brand={{ brand.id }} " class="brand-link">
                            <img src="{{ brand.image.url }}" alt="" class="brand-picture">
                        </a>
                    </li>
                {% endfor %}
            </div>
            {# End brand list #}

            {# Start promo products #}
            {% get_horizontal_products_list promo_products 'Акційні товари' %}
            {#  End promo products #}

            {# Start recent products #}
            {% get_horizontal_products_list recently_viewed_qs 'Останні переглянуті товари' %}
            {# End recent products #}




        </div>


    </section>


{% endblock content %}

