{% extends 'base.html' %}
{% load sneakers_tags %}
{% load cache %}
{% load static %}
{% block header %}

{% endblock %}

{% block content %}

    <section class="single-product">
    {% cache 3600 cached_breadcrumbs post.cat %}
        {% get_breadcrumbs post.cat %}
    {% endcache %}
        {% include 'goods/product_detail.html' %}
    </section>

    <div class="container">
        {% get_products_by_tag post as products_by_tag %}
        {% get_horizontal_products_list products_by_tag 'Також вас можуть зацікавити' %}
        {% get_horizontal_products_list recently_viewed_qs 'Останні переглянуті товари' %}
    </div>
{% endblock %}
