{% extends 'base.html' %}
{% load sneakers_tags %}
{% load static %}
{% block header %}

{% endblock %}

{% block content %}
{% get_breadcrumbs post.cat %}
    <section class="single-product">
        <div class="container-fluid">
            {% include 'goods/product_content.html' %}
        </div>
    </section>
    <div class="container-fluid">
    <h4>Також вас можуть зацікавити</h4>
{% get_products_by_tag post as query %}
    <div id = "simple-scroll" class="scrolling-wrapper-flexbox">
        {% for product in query %}
            {% if product.is_published %}

                <div class="card small-card">
                    <!-- Product image-->
                    {% if product.images %}

                    <a class="a-dark" href="{{ product.get_absolute_url }}">
                        <img class="card-img-top image-container-img " src="{{ product.first_image.image.url}}"
                             alt="{{ product.title }}"/>
                    </a>
                    {% else %}
                    <a class="a-dark" href="{{ product.get_absolute_url }}">
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                             alt="{{ product.title }}"/>
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <span class="card-body">
                        <div class="d-flex justify-content-center">
                            <!-- Product name-->
                            <h3><a class="a-dark" href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
                            <!-- Product price-->
                        </div>
                        <div class="me-auto d-flex justify-content-between">
                            <div>
                                {% if product.discount %}
                                    <p class="old-price">{{ product.price }} $</p>
                                    <p class="discount-price">{{ product.discount }} $</p>
                                {% else %}
                                    <p class="usual-price">{{ product.price }} $</p>
                                {% endif %}
                            </div>
                        </div>
                    </span>
                    <!-- Product actions-->
                    <div class="d-flex card-footer border-top-0 bg-transparent justify-content-end">
                        <p class="ventor-code">Артикул: {{ product.display_id }}</p>
                    </div>
                </div>

            {% endif %}
    {% endfor %}
</div>

    <h4>Переглянуті товари</h4>

    <div id = "simple-scroll" class="scrolling-wrapper-flexbox">
        {% for product in recently_viewed_qs %}
            {% if product.is_published %}

                <div class="card small-card">
                    <!-- Product image-->
                    {% if product.images %}

                    <a class="a-dark" href="{{ product.get_absolute_url }}">
                        <img class="card-img-top image-container-img " src="{% get_media_prefix %}{{ product.sneakers_first_image}}"
                             alt="{{ product.title }}"/>
                    </a>
                    {% else %}
                    <a class="a-dark" href="{{ product.get_absolute_url }}">
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                             alt="{{ product.title }}"/>
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <span class="card-body">
                        <div class="d-flex justify-content-center">
                            <!-- Product name-->
                            <h3><a class="a-dark" href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
                            <!-- Product price-->
                        </div>
                        <div class="me-auto d-flex justify-content-between">
                            <div>
                                {% if product.discount %}
                                    <p class="old-price">{{ product.price }} $</p>
                                    <p class="discount-price">{{ product.discount }} $</p>
                                {% else %}
                                    <p class="usual-price">{{ product.price }} $</p>
                                {% endif %}
                            </div>
                        </div>
                    </span>
                    <!-- Product actions-->
                    <div class="d-flex card-footer border-top-0 bg-transparent justify-content-end">
                        <p class="ventor-code">Артикул: {{ product.display_id }}</p>
                    </div>
                </div>

            {% endif %}
    {% endfor %}
</div>

    </div>
{% endblock %}
