<footer class="py-5 bg-dark navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3 justify-content-start">
                <h5 class="text-white">Контакты</h5>
                <ul class="list-unstyled text-white">
                    <li>+380 123 294 382</li>
                    <li>+380 244 224 956</li>
                    <li>Соц. сеть 1</li>
                    <li>Соц. сеть 2</li>
                </ul>
            </div>
            <div class="col-md-2 justify-content-center">
                <h5 class="text-white">О нас</h5>
                <ul class="list-unstyled text-white">
                    <li>Адрес 1</li>
                    <li>Адрес 2</li>
                </ul>
            </div>
            <div class="col-md-4 justify-content-end ">
                <h5 class="text-white justify-content-start">Информация о компании</h5>
                <p class="text-white">Краткое описание компании или дополнительная информация.</p>
            </div>
        </div>
    </div>
</footer>